.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 45%);
  justify-content: center;
  grid-gap: 2rem;
  margin: 2rem 0;
}
.grid__item {
  width: 100%;
  height: 15rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.grid__item__title {
  display: none;
  z-index: 2;
  font-size: 1.8rem;
}

.grid__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  z-index: 1;
  transition: transform 0.2s;
  transform: translateX(-100%);
}
.grid__item:hover{
    cursor: pointer;
}

.grid__item:hover::after{
    transform: translateX(0%);
}
.grid__item:hover .grid__item__title{
    display: block;
    font-weight: bold;
}
