.blog {
  position: relative;
}
.ghostTitle {
  position: absolute;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.062);
  top: 2rem;
  left:50%;
  transform: translateX(-50%);
}
.grid__blog{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 2rem;
    z-index: 1;
}
.grid__blog__item__title{
    font-size: 1.8rem;
    color: #b9083d;
    font-weight: bold;
    line-height: 4rem;
    text-decoration: none;
}
.blog__item__date{
    font-size: 1.1rem;
    color:#fff;
    letter-spacing: .3rem;
    display: block;
}

/*  MEDIA QUERIES  */

@media only screen and (min-width: 768px) {
  .ghostTitle {
    position: absolute;
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.062);
    top: 2rem;
    left:25rem;
  }
}
