*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #1d1d1d;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2.4rem;
}

img {
  width: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.4rem;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

section {
  padding: 2rem 0;
}
.titleSection {
  color: #08fdd8;
  font-size: 3rem;
}
.section__description {
  color: white;
  line-height: 2.5rem;
  margin: 2rem 0;
}
.image__about__me{
  border-radius: 1rem;
}
